.navbarcolor{
    background-color: #dcd8d8 ;
}
.fontcolor{
    color: black;
    float: right;
    font-family: 'Open Sans';
    padding: 10px;
    margin: 6px;
    font-weight: bold;
}
 a:hover{
    color: black;
    float: right;
    font-family: 'Open Sans';
    padding: 10px;
    margin: 6px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.box1{
    width: 380px;
    height: 370px;
    border: 9px solid;
    margin-top: 65px;
    float: left;
}
.box1:hover
{
    border-color:white;
}
.box2:hover
{
    border-color:white;
}
.box3:hover
{
    border-color:white;
}
.box2{
    width: 409px;
    height: 370px;
    border: 9px solid;
    margin-top: 65px;
    float: right;
}
.box3{
    width: 380px;
    height: 370px;
    border: 9px solid;
    margin-right: -11px;
    margin-top: 65px;
    float: right;

}
.mainc{
    background-color: #dcd8d8;
}
.heding{
    text-align: center;
    margin-top: 46px;
}
.p1{
    margin-top: 20px;
}
.boxbutton{
    background-color:black; 
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 29px;
    width: 150px;
    height: 50px;
    margin-left: 90px;
}
.boxbutton:hover
{
    background-color: white; 
    color: black; 
    border: 3px solid #dcd8d8;
}
.p1{
    display: block;
}
::first-letter{
    margin-left: 20px;
}
hr{
    text-align: center;
    padding: 0;
    margin-bottom: 25px;
}
/*.image1{
    width: 315px;
    height: 350px;
    border: 1px solid;
    margin-top: 36px;
    margin-left: 131px;

}
.image2{
    width: 315px;
    height: 350px;
    border: 1px solid;
    margin-left: 62px;
    margin-top: 36px;
}
.image3{
    width: 315px;
    height: 350px;
    border: 1px solid;
    margin-left: -8px;
    margin-top: 36px;

}
.image4{
    width: 315px;
    height: 350px;
    border: 1px solid;
    margin-top: 36px;
    margin-left: -77px;

}*/
.hr1{
    margin-left: 170px;
    margin-top: 54px;
}
.hr2{
    margin-left: 862px;
    margin-top: -45px;
}
h5{
    margin-left: -12px;
    margin-top: 56px;
}
h6{
    margin-top: 45px;
    margin-left: 121px
}
.hrl{
    margin-top: 38px;
    margin-left: 16px;
}
.h4l{
    margin-top: 38px;
    margin-left: -41px
}
.h2a{
    width: 71px;
    height: 56px;
    border: solid 4px black;
    margin-left: -12px;
}
.h4titlelorem{
    margin-left: 53px;
    margin-top: -63px;
}
.box33{
    width: 310px;
    height: 250px;
    border: 0px solid;
    margin-left: 10px;
    font-family: 'Oswald';
    font-size: 18px;
    color: #444444;
}
.box331{
    margin-left: -123px
}
.pa1{
    display: block;
    margin-top: 29px;
    font-family: Oswald;
    font-size: 13px;
}
.button1{
    display: inline-block;
    margin-top: -10px;
    font-weight: 700;
    color: #3c3c3c;
    margin-left: -23px;
    font-size: 13px;
}
.check{
    background: url(/project/images/check.png) 3px center no-repeat;
    font-weight: bold;
    font-size: 14px;
    color: #444444;
    padding: 5px 0px 5px 28px;
    margin-left: 92px;
    margin-top: 20px;
}
.footerbox{
    border: 0px solid black;
    margin-right: 31px;
    margin-left: -14px;
    margin-top: 25px;
}

.footerbox1{
    margin-left: -49px;
    width: 320px;
    height: 250px;
}

.footerbox2{
    width: 540px;
    height: 250px;
    display: block;
}
.footerbox3 {
    width: 303px;
    height: 250px;

}
.fimg{
    margin-top: 43px;
    color:rgb(84, 84, 85);
    font-size: 25px;
    font-family: Oswald;
    
}
.pf{
    color:rgb(23, 23, 25)
}
.pf1{
font-size:12px;
font-weight: bold;
}
.pf2{
    font-size: 10px;
}
.solicalimgfooter{
    margin-top: 40px;
    color:rgb(84, 84, 85);
    margin-left: 17px;
}
.servicesfooter {
    margin-top: 276px;
}
.containerfooter{
    margin-top: 8px;
}
.fp{
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
/* galler */
#myCarousel {
   margin-top: 50px;
}
@media  (min-width: 768px) {
    #myCarousel .carousel-inner  {
        display: flex;
    }
    #myCarousel .carousel-item
    {
        display: block;
        margin-right: 0;
        flex:0 0 calc(100%/4);
    }
}
#myCarousel .carousel-inner
{
    padding: 1em;
}
#myCarousel .card
{
     margin: 0.5em;
}
#myCarousel .carousel-control-prev,#myCarousel .carousel-control-next{
        width: 7vh;
        height: 8vh;
        background-color: #E1E20D;
        border-radius: 50%;
        top: 40%;
        opacity: 0.5;
}
/*gallery.html css*/
.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
 /* @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }*/
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }

  .img-fluid {
    width: 370px;
    height: auto;
    border: 6px  #dcd8d8 solid;
  }
  .fonth6{
    font-size: 12px;
    margin-left: 10px;
    /* margin-block: auto 17px; */
    margin-top: 12px
  }
  .img-fluid:hover{
    border-color: black;
  }

  /*serviesimages*/
  .servicesimg{
    width: 279px;
    margin-top: 20px;
  }
  .servicespara{
    display: block;
    font-size: 10px;

  }
  
  .imgservicestop{
    margin-top: 154px;
  }
  /*aboutus pages*/
  .aboutus1{
    color: white;
    margin-top: -115px;
    font-size: 52px;
    font-family: sans-serif;
    margin-left: 133px;
  }